body {
  padding: 0;
  background-color: #EEB238FF;
  /* background-color: #FFEAA2; */
  background-size: cover;
  background-attachment: fixed;
}

.btn.btn-outline-success {
  margin: 5px;
  letter-spacing: 2px;
}

.btn-outline-success:hover {
  background-color: #552c1f;
}

.btn.btn-outline-success:active,
.btn.btn-outline-success:focus {
  outline-color: #552c1f;
  outline: none !important;
  box-shadow: none !important;
}

div.alert.alert-info {
  text-align: center;
  font-size: 28px;
}


.btn-outline-success {
  color: #404969;
  border-color: #404969;
  font-weight: lighter;
}

#navbar-btn0:hover,
#navbar-btn1:hover,
#navbar-btn2:hover,
#navbar-btn0:active,
#navbar-btn1:active,
#navbar-btn2:active,
#navbar-btn0:focus,
#navbar-btn1:focus, 
#navbar-btn2:focus {
  background-color: #552c1f;
  border: #552c1f;
  box-shadow: none;
  color: red;
  letter-spacing: 2px;
}


  .btn.btn-outline-success {
    margin: 5px;
  }

  .btn-outline-success {
    color:rgb(66, 42, 8);
    border-color: rgb(66, 42, 8);
    font-weight: lighter;
  }

  .btn-outline-success:hover {
    /* color: ; */
    background-color:rgb(204, 157, 64);
  }

  .btn-outline-success:active,
  .btn-outline-success:focus
   {
    background-color:rgb(202, 44, 70);
  }

p {
    padding: 10px;
  } 


  
  .content {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
  }

  h1 {
  color: rgb(66, 42, 8);
  font-weight: lighter;
  font-size: 35px;
  letter-spacing: 0.8px;
  text-align: center;
}

.content h1 {
  background: ;
  margin-top: 5%;
  color: rgb(66, 42, 8);
  font-weight: lighter;
  font-size: 35px;
  letter-spacing: 0.8px;
  text-align: left;
}

h2{
  color: rgb(66, 42, 8);
  /* font-weight: lighter; */
  font-size: 30px;
  letter-spacing: 0.8px;
  text-align: left;
}

p {
  font-size: 20px;
}

p a {
  color: red;
}

p a:hover {
  color: rgb(192, 53, 53);
}

ol {
  font-size: 20px;
}

.content {
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  color: rgb(66, 42, 8);
  font-size: 20px;
  letter-spacing: 0.8px;
  text-align: left;
}

.pdf_file {
  background: #FEDCDC;
  color: red;
  text-align: center;
  width: 250px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.pdf_file a {
  color: red;
}