<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="about page of notes for Data Visialization for SEO and Analytics class at CCSF">
  <title>about website data visualization learning</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-xxxxxxxxxxxxxx"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-xxxxxxxxxxxx');
  </script>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="../static/css/about.css">

</head>

<body>
  <nav class="navbar">
    <form class="form-inline">
      <button id="navbar-btn0" class="btn btn-outline-success" type="button"
        onclick="window.location.href = 'home.html'; ">
        Home page
      </button>
      <button id="navbar-btn1" class="btn btn-outline-success" type="button"
        onclick="window.location.href = 'chapter1.html'; ">
        Next
      </button>
    </form>
  </nav>

  <br>
  <div class="content">
    <h1>What is this for?</h1>
    <p>This fall semester I am also being enrolled in the CS 256-Data Visualization and CNIT 133A - JavaScript
      Libraries/Frameworks classes. My idea is to put my data
      visualization learning process and knowledge of new JavaScript technologies I am learning. It will be some notes
      and projects that I create during and after the semester. Thus, I will not only going to use this web site to
      learn in CNIT 132S class how to apply search engine optimization techniques to enhance the ranking of existing web
      pages and recognize and interpret reports provided by analytics tools, but also to reflect my leraning process
      from CS 256 and CNIT 133A
      courses.
    </p>
    
    <div class="image">
      <img src="../static/img/data_visualization.jpg" alt="data visualization">
    </div>

    </br>
    <h1>What is data visualization?</h1>
    <p> It is the graphical representation of information and data.According Tufte, the guru in data visualization
      world, it "often the most effective way to describe, explore, and summarize a set of numbers - even a very large
      set - is to look at pictures of those numbers. Thurdermore, of all methods for analysing and communicating
      statistcal information, well-designed data graphics are usually the simplest and at hte same time the most
      powerful.</p>
    <p> As we can read in the book
      <a href="#"
        onClick="window.open('https://www.amazon.com/gp/product/1733042687?pf_rd_r=8BTWTH9E9HK1PWN27CP8&pf_rd_p=edaba0ee-c2fe-4124-9f5d-b31d6b1bfbee', '_blank')"><span
          id="book_about_data">Data Visualization with Python for Beginners: Visualize Your Data using Pandas,
          Matplotlib and Seaborn</span></a> by AI Publishing "data visualization is precursor to many important
      processes such as Data Science, Machine learning, Business Intelegence, and Data Analytics. Data visualization is,
      without any doubt, one of the most important skillsets of the 21st century for variety of jobs.".
    </p>
  </div>
</body>

</html>