<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description"
    content="Analytics Report Analysis for web pages about Data Visialization created for SEO and Analytics class at CCSF">
  <title>analytics report analysis of data visualization learning</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="../static/css/analytics_report.css">

</head>

<body>
  <nav class="navbar">
    <form class="form-inline">
      <button id="navbar-btn0" class="btn btn-outline-success" type="button"
        onclick="window.location.href = 'home.html'; ">
        Home page
      </button>

      <button id="navbar-btn1" class="btn btn-outline-success" type="button"
        onclick="window.location.href = 'seo_strategies.html'; ">
        Previous
      </button>

    </form>
  </nav>
  <h1>Analytics Report Analysis </br>for First Six Web Pages of this Website</h1>
  <hr>

  <br>
  <div class="content">
    
    <h1>Overview</h1>
    <p> This is the Google Analytics report, which you can download from the link below, the Acquisition section, All Traffic subsection, Channels sub-subsection. The Channels show through what ways the visitors came to the this website.  All the channels (traffic generators) are listed in the column called “Default Channel Grouping”. This report has three of them: Referral, Direct, Social.</p>

    <div class="pdf_file">
      <a href="../static/img/Google_Analytics_Report_Analysis.pdf" target="_blank">Open the PDF file</a>.
    </div>

    <h1>Some Important Insights</h1>
    <p> <ul>
      <li>The highest number of users brings Social; it’s 134, which is 78.82% of total amount of 169 of all users. At the same time, the number of new users from Organic Search is 6,708, which is 86% of total Organic Search users. Thus, it shows a good index of new customers. It also shows that the social media platfrom, particularly facebook, which I used, worked very well.</li>

      <li>The bounce rate for social is 68.21% which is too high which means that content of the pages was not be engaging enough the users to stay on the pag. the explanation could be that the magority of the content I published after the pick of the numbers brought from the socila media. My strategy is to fill the web pages completely and see how it improve the bounce rate.</li>

      <li>The unofficial industry standard is two pages per session. The  highest, 28.54 pages per viewer, brings Direct, what correlates to its the 28.54% the Bounce Rate.</li>
    </ul></p>




  
    <h1> Additional Recommendation</h1>
    <p> Besides of improving content, given the information about the source which brings the higest number of users, it would be a good idea to lean strategies of promoting websites through different social media, get deeper knowledge how to do it particularly through facebook.</p>


  </div>


</body>

</html>