<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description"
    content="data visualization tools for geographic data projects created for web pages about Data Visialization for SEO and Analytics class at CCSF">
  <title>data visualization tools for geographic data projects
  </title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175882288-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-175882288-1');
  </script>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="../static/css/chapter4.css">

</head>

<body>
  <nav class="navbar">
    <form class="form-inline">
      <button id="navbar-btn0" class="btn btn-outline-success" type="button"
        onclick="window.location.href = 'home.html'; ">
        Home page
      </button>

      <button id="navbar-btn1" class="btn btn-outline-success" type="button"
        onclick="window.location.href = 'chapter3.html'; ">
        Previous
      </button>

      <button id="navbar-btn2" class="btn btn-outline-success" type="button"
        onclick="window.location.href = 'chapter5.html'; ">
        Next
      </button>
    </form>
  </nav>

  <br>
  <h1>Geographic Data Projects
  </h1>

  <hr>

  <div class="content2">
    <div class="left_col_descr">
      <img id="myImg2" src="../static/img/COVID19_United_States.png" alt="COVID-19 in The U.S." />

    </div>


      <div class="right-col-descr">
        <h2>Purpose:</h2>
        <p>
          This graphic is created to show the COVID-19 rate by state in The U.S. Data from February 29 to September 21, 2020; and apply knowledge of using google sheets in creating geo charts.
        </p>
        <h2>Source</h2>
        <p>
          This image is based on data from
          <a
            href="#"
            onClick="window.open('https://www.washingtonpost.com/graphics/2020/national/coronavirus-us-cases-deaths/?hpid=hp_hp-top-table-main_gfx-virus-tracker%3Ahomepage%2Fstory-ans&itid=hp_hp-top-table-main_gfx-virus-tracker%3Ahomepage%2Fstory-ans', '_blank')"
            >The Washington Post</a
          >.
        </p>
        <h2>Data Visualization Tools</h2>
        <p>
          The
          creation on the bar chart was done in Google sheets, imported .png
          file, then modified with
          <a
            href="#"
            onClick="window.open('https://www.kapwing.com/', '_blank')"
            >www.kapwing.com</a
          >.
        </p>
      </div>




</body>

</html>