<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="chapter two of notes for Data Visialization for SEO and Analytics class at CCSF">
  <title>data visualization tools</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-175882288-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-175882288-1');
</script>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="../static/css/chapter2.css">

</head>
<body>
 <nav class="navbar">
      <form class="form-inline">
        <button
          id="navbar-btn0"
          class="btn btn-outline-success"
          type="button"
          onclick="window.location.href = 'home.html'; "
        >
          Home page
        </button>

        <button
          id="navbar-btn1"
          class="btn btn-outline-success"
          type="button"
          onclick="window.location.href = 'chapter1.html'; "
        >
          Previous
        </button>

        <button
          id="navbar-btn2"
          class="btn btn-outline-success"
          type="button"
          onclick="window.location.href = 'chapter3.html'; "
        >
          Next 
        </button>
      </form>
    </nav>

  <br>
  <h1>Data Visualization Tools</h1>

<hr>
<h1>Coming soon!</h1>
</body>
</html>