<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="home page of notes for Data Visialization for SEO and Analytics class at CCSF">

  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Home page</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175882288-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-175882288-1');
  </script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
</head>

<body>
  <div class="row container">
    <br />
    <div class="contents">
    
      <ul>
        <li>
          <input class="input" type="button" onclick="window.location.href = 'about.html'; " value="About" />
        </li>
        <li>
          <input class="input" type="button" onclick="window.location.href = 'chapter1.html'; "
            value="Data Visualization Examples" />
        </li>

        <li>
          <input class="input" type="button" onclick="window.location.href = 'chapter2.html'; "
            value="Data Visualization Tools" />
        </li>

        <li>
          <input class="input" type="button" onclick="window.location.href = 'chapter3.html'; "
            value="Python Data Visualization" />
        </li>

        <li>
          <input class="input" type="button" onclick="window.location.href = 'chapter4.html'; " value="Geographic Data Projects" />
        </li>

        <li>
          <input class="input" type="button" onclick="window.location.href = 'chapter5.html'; "
            value="Data Visualization with D3.js" />
        </li>

        <li>
          <input class="input" type="button" onclick="window.location.href = 'seo_strategies.html'; "
            value="SEO Strategies" />
        </li>
        <li>
          <input class="input" type="button" onclick="window.location.href = 'analytics_report.html'; "
            value="Analitycs Report Analysis" />
        </li>
      </ul>
   
    </div>

    <div class="main-text">
      <h1>Data Visualization</h1>
      <h5>Notes and Projects</h5>
    </div>
  </div>

  <br />
</body>

</html>